body {
    width: 100vw;
    margin: 0 auto;
    font-family: sans-serif;
}

header {
    width: 80%;
    height: 130px;
    margin: 0 auto;
    background-color: #D96D39;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

main {
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #ffe2d0;
    min-height: 30vh;
}

.logo {
    font-size: 30px;
    margin-left: 50px;
    font-weight: bold;

}

.cart {
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cart__info {
    font-size: 15px;
    width: 200px;
    height: 80%;
    display: flex;
    align-self: center;
    justify-content: space-between;

    margin-top 15px;
}

.cart__info p {
    display: flex;
    margin: 5px;
    justify-content: center;
}

.cart__info__wrap {
    width: 100%;
}

.products {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    border: 1px solid #985328;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: #985328;
    background-color: #F3E2D4;
}

.product__wrap h2 {
    text-align: center;
    margin: 10px;
}

.product__wrap p {
    text-align: center;
    font-weight: 900;
    margin: 5px;
}

.modal__cart {
    display: none;
}

.modal__cart.show {
    display: block;
    
}

.btn__clear {
    margin: 3px;
    width: 60%;
    outline: none;
    border: none;
    border-radius: 10px;
    line-height: 2;
    background-color: #985328;
    color: #fff;
    transition: background-color .5s;
}

.btn__clear:hover {
    background-color: #fff;
    color: #D96D39;
    transition: background-color .5s;
}

.btn__clear:active {
    background-color: #985328;
}

.btn__cart {
    margin: 3px;
    width: 60%;
    outline: none;
    border: none;
    border-radius: 10px;
    line-height: 2;
    background-color: #985328;
    color: #fff;
    transition: background-color .5s;
}

.btn__cart:hover {
    background-color: #fff;
    color: #D96D39;
    transition: background-color .5s;
}

.btn__cart:active {
    background-color: #985328;
}

.cart__emty {
    display: flex;
    width: 100%;
    justify-content: center;
    text-transform: uppercase;
    
}

.modal__cart {
    background-color: #212121;
    opacity: 0.85;
    position: absolute;
    top: 10px;
    min-width: 60vw;
    min-height: 50vh;
    color: #fff;
    border-radius: 25px;
    display: none;
    padding: 10%;
}

.cart__total {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #fff;
    margin: 0  5px;
}

.cart__total p {
    margin: 20px;
}

.cart__card__header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #fff;
    margin: 0 10px;
}

.cart__card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.cart__card p {
    margin-right: 15px;
}


.minus__btn {
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    outline: none;
    color: #212121
}

.plus__btn {
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    outline: none;
    color: #212121
}

.buy__btn {
    margin: 3px;
    width: 60%;
    outline: none;
    border: none;
    border-radius: 10px;
    line-height: 2;
    background-color: #985328;
    color: #fff;
    transition: background-color .5s;
}

.buy__btn:hover {
    background-color: #d97739;
    transition: background-color .5s;
}

.buy__btn:active {
    background-color: #985328;
}

.card__img_nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.prev {
    margin: 3px;
    width: 35%;
    outline: none;
    border: none;
    border-radius: 10px;
    line-height: 2;
    background-color: #985328;
    color: #fff;
    cursor: pointer;
    transition: background-color .5s;
}

.prev:hover {
    background-color: #d97739;
    transition: background-color .3s;
}

.prev:active {
    background-color: #985328;
}

.next {
    margin: 3px;
    width: 35%;
    outline: none;
    border: none;
    border-radius: 10px;
    line-height: 2;
    background-color: #985328;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s;

}

.next:hover {
    background-color: #d97739;
    transition: background-color .3s;
}

.next:active {
    background-color: #985328;
}
